@model Dia11.Models.Consecionaria



<p>Peganos un llamado al @Html.DisplayFor(m =>m.Telefono).<br />
    O venite al local: @Html.DisplayFor(m =>m.Direccion)<br />
    Si no tenes apuro mandanos un mail a: @Html.DisplayFor(m => m.Email)
</p>
